body{
  padding: 0px;
  margin: 0px;
}

.html-ignr-def{
  width: 100vw;
  height: 100vh;
}

.container{
  background: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 0.5rem solid lightpink;
}

h4{
  color: lightpink;
  animation:blinking 1.5s;
  animation-iteration-count:3;
}

.br-2-rem{
  padding: 2px;
  box-sizing: border-box;
}

.w-100p{
  width: calc(100% - 0.2rem);
}

.b-c{
  background: lightpink;
  border-radius: 10px;
}

.d-flex{
  display:flex;
}

.btn{
  background: lightpink;
  color: white;
  border: 0px;
  font-size: 1rem;
  border-radius: 10px;
}

.ip{
  border: 2px solid lightpink;
  height: 2rem;
  font-size: 1rem;
  padding: 0px 0.2rem;
  border-radius: 10px;
}

.word-container{
  line-height: 2rem;
}

.word{
  border: 2px solid lightpink;
  padding: 2px;
  box-sizing: border-box;
  padding: 0.2rem;
  border-radius: 10px;
  margin: 0.3rem;
}

.word::after{
  content: '✅';
}

.p-2{
  padding: 2rem 0px;
}

.context{
  font-size: 0.6rem;
  color: lightgray;
  margin: 2rem 0px;
}


@keyframes blinking{
0%{   color: transparent;   }
47%{   color: lightpink; }
62%{   color: transparent; }
97%{   color:lightpink; }
100%{  color: transparent;   }
}